@use '../abstracts/' as *;

.header {
 position: relative;
 background-color: var(--bg-color-light);
 color: var(--secondary-light);

 // Hamburger
 &.open {
  .overlay {
   display: block;

   @include breakpoint-up(medium) {
    display: none;
   }
  }
  .header__toggle {
   > span:first-child {
    transform: rotate(45deg);
   }

   > span:nth-child(2) {
    opacity: 0;
   }

   > span:last-child {
    transform: rotate(-45deg);
   }
  }
 }

 nav {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  position: relative;
  // background-color: var(--bg-color-light);
  // color: var(--secondary-light);
  max-width: 1700px;
 }

 &__logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-light);
 }

 .overlay {
  position: fixed;
  top: 5.21rem;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--mobile-menu-overlay);
  opacity: 1;
  z-index: 1;
 }

 .btn-hamburger {
  cursor: pointer;
 }

 &__toggle {
  > span {
   display: block;
   width: 24px;
   height: 3px;
   background-color: var(--secondary-light);
   transition: all 200ms ease-in-out;
   transform-origin: 0.5px 2px;

   &:not(:last-child) {
    margin-bottom: 5px;
   }
  }
 }

 // Mobile Menu
 &__menu {
  display: block;
  position: absolute;
  right: 0;
  width: calc(100% - 2rem);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  color: var(--bg-color-dark);
  z-index: 1;
  border-radius: var(--border-radius);

  @include breakpoint-up(large) {
   display: none;
  }

  a {
   font-weight: 700;
   &:not(:last-of-type) {
    padding-bottom: 2.75rem;
   }
  }
 }

 &__links {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  a {
   font-size: var(--font-text-sm);
   font-weight: 700;
   color: var(--primary-light);
   @include hover(speed);

   &:hover {
    color: var(--btn-hover);
   }

   &:not(:last-of-type) {
    margin-right: 2.625rem;

    @include breakpoint-up(large) {
     margin-right: 4.625rem;
    }
   }
  }
 }
}
